<app-signup></app-signup>

<div class="row">
    <div class="col-sm-6 text-right pt-5">
        <img class="align-middle m-5" height="300px" src="assets/What-Is-Scribe-Image.png">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <h6 class="mx-5 my-1">
            Scribe is a thought sharing platform where you can share your thoughts and craziest ideas with the world. You can also interact with other users by commenting on their posts.<br/><br/> Create a free account and get stearted.<br/><br/>Let's
            get started!
        </h6>
    </div>
</div>
<hr>

<div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
        <h5>Contact Us</h5>
        <div class="row">
            <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5">
                <i class="fa fa-phone mt-3"></i>9453782176<br/>
                <i class="fa fa-envelope mt-3"></i>ashutosh 26.tiwari@gmail.com<br/>
                <i class="fa fa-facebook mt-3"></i>ashutosh Tiwari<br/>
            </div>
            <div class="col-sm-6 text-left py-5 my-5 px-5">
                <i class="fa fa-market mt-3"></i>SRMS CET&R Bareilly.<br/>
                <i class="fa fa-market mt-1"></i>Uttar pradesh.<br/>
                <i class="fa fa-map-market mt-1"></i>India.<br/>
                <i class="fa fa-map-market mt-1"></i>SRMS CET&R Bareilly.<br/>
                <i class="fa fa-map-market mt-1"></i>SRMS CET&R Bareilly.<br/>
            </div>

        </div>


    </div>

</div>